In [1]:
 # Dependencies
import numpy as np
import requests
import pandas as pd
from sqlalchemy import create_engine

### Census API on Social (DP02), Economic(DP03), and Housing(DP04) Characteristics of Ohio (state:39) Counties

In [2]:
#choose the variable dictionary of Census database
census_variables_dict={"NAME":"county_name",
                       "DP02_0001E":"total_households",
                       "DP02_0016E":"average_household_size",
                       "DP02_0087E":"total_population",
                       "DP02_0151E":"computers_and_internet_use_total_households",
                       "DP02_0053E":"population_3yr_and_over_enrolled_in_school",
                       "DP02_0062E":"educational_attainment_hs",
                       "DP03_0062E":"median_household_income",
                       "DP03_0063E":"mean_household_income",
                       "DP04_0004E":"homeowner_vacancy_rate",
                       "DP04_0089E": "owner_median_price",
                       "DP04_0110E":"household_w_mortgage_num",
                       "DP04_0117E":"household_wo_mortgage_num",
                       "DP04_0134E": "renter_median_price",
                       "DP04_0136E":"renters_num"}
# query string to pass into the url
census_variables_value_string=",".join(census_variables_dict.keys())

#api url
census_url=f"https://api.census.gov/data/2019/acs/acs5/profile?get={census_variables_value_string}&for=county:*&in=state:39"

In [3]:
# get the json data from census
response = requests.get(census_url)
census_data = response.json()
census_data

[['NAME',
  'DP02_0001E',
  'DP02_0016E',
  'DP02_0087E',
  'DP02_0151E',
  'DP02_0053E',
  'DP02_0062E',
  'DP03_0062E',
  'DP03_0063E',
  'DP04_0004E',
  'DP04_0089E',
  'DP04_0110E',
  'DP04_0117E',
  'DP04_0134E',
  'DP04_0136E',
  'state',
  'county'],
 ['Meigs County, Ohio',
  '9045',
  '2.53',
  '23078',
  '9045',
  '4818',
  '6907',
  '44899',
  '60917',
  '1.3',
  '95000',
  '2867',
  '4111',
  '622',
  '1600',
  '39',
  '105'],
 ['Champaign County, Ohio',
  '15159',
  '2.51',
  '38845',
  '15159',
  '8627',
  '12404',
  '60112',
  '69841',
  '1.3',
  '132800',
  '6676',
  '4381',
  '696',
  '3819',
  '39',
  '021'],
 ['Greene County, Ohio',
  '65604',
  '2.40',
  '166502',
  '65604',
  '47178',
  '27461',
  '68720',
  '88951',
  '1.1',
  '173000',
  '27685',
  '15431',
  '910',
  '21152',
  '39',
  '057'],
 ['Lawrence County, Ohio',
  '23221',
  '2.56',
  '60184',
  '23221',
  '13197',
  '18636',
  '45118',
  '59958',
  '3.6',
  '106500',
  '8351',
  '8285',
  '733',
  '5356',
  '39',
  '087'],
 ['Morgan County, Ohio',
  '6108',
  '2.37',
  '14640',
  '6108',
  '2635',
  '4593',
  '42341',
  '53701',
  '1.2',
  '99900',
  '1900',
  '2721',
  '637',
  '1263',
  '39',
  '115'],
 ['Wyandot County, Ohio',
  '9081',
  '2.39',
  '22000',
  '9081',
  '4909',
  '6959',
  '55767',
  '68514',
  '1.1',
  '122200',
  '3763',
  '2910',
  '631',
  '2191',
  '39',
  '175'],
 ['Erie County, Ohio',
  '31183',
  '2.36',
  '74780',
  '31183',
  '15601',
  '19980',
  '54226',
  '76190',
  '2.7',
  '139900',
  '12541',
  '8970',
  '756',
  '8892',
  '39',
  '043'],
 ['Logan County, Ohio',
  '18677',
  '2.40',
  '45316',
  '18677',
  '9679',
  '15105',
  '56754',
  '71431',
  '2.0',
  '131900',
  '8557',
  '5099',
  '725',
  '4307',
  '39',
  '091'],
 ['Summit County, Ohio',
  '224726',
  '2.37',
  '541334',
  '224726',
  '126826',
  '114876',
  '57181',
  '78984',
  '1.6',
  '146800',
  '94906',
  '51952',
  '823',
  '72318',
  '39',
  '153'],
 ['Shelby County, Ohio',
  '18608',
  '2.60',
  '48749',
  '18608',
  '11736',
  '13363',
  '63806',
  '75899',
  '0.8',
  '145600',
  '7862',
  '5359',
  '733',
  '5040',
  '39',
  '149'],
 ['Williams County, Ohio',
  '15090',
  '2.37',
  '36816',
  '15090',
  '7942',
  '10851',
  '53183',
  '64821',
  '0.2',
  '105400',
  '6733',
  '4881',
  '694',
  '3216',
  '39',
  '171'],
 ['Columbiana County, Ohio',
  '41537',
  '2.39',
  '103190',
  '41537',
  '20743',
  '33218',
  '48345',
  '63789',
  '1.7',
  '109400',
  '16303',
  '13955',
  '663',
  '9422',
  '39',
  '029'],
 ['Fulton County, Ohio',
  '16506',
  '2.53',
  '42253',
  '16506',
  '9798',
  '11977',
  '63092',
  '75755',
  '0.3',
  '138200',
  '8121',
  '4889',
  '729',
  '3139',
  '39',
  '051'],
 ['Gallia County, Ohio',
  '11588',
  '2.52',
  '30088',
  '11588',
  '6573',
  '8514',
  '44858',
  '60507',
  '3.1',
  '110200',
  '3968',
  '4596',
  '675',
  '2501',
  '39',
  '053'],
 ['Mahoning County, Ohio',
  '98472',
  '2.27',
  '229961',
  '98472',
  '51453',
  '61634',
  '46042',
  '64844',
  '3.3',
  '105400',
  '37072',
  '29893',
  '682',
  '28025',
  '39',
  '099'],
 ['Scioto County, Ohio',
  '29858',
  '2.43',
  '76040',
  '29858',
  '16967',
  '21764',
  '41330',
  '58968',
  '1.9',
  '97800',
  '9774',
  '10191',
  '626',
  '8355',
  '39',
  '145'],
 ['Morrow County, Ohio',
  '12922',
  '2.69',
  '35043',
  '12922',
  '7393',
  '10627',
  '59452',
  '74118',
  '1.0',
  '152800',
  '6407',
  '4085',
  '767',
  '2042',
  '39',
  '117'],
 ['Preble County, Ohio',
  '16251',
  '2.50',
  '41093',
  '16251',
  '9081',
  '12640',
  '58957',
  '71405',
  '1.5',
  '125100',
  '7485',
  '5173',
  '741',
  '3123',
  '39',
  '135'],
 ['Allen County, Ohio',
  '40650',
  '2.44',
  '103175',
  '40650',
  '26028',
  '26855',
  '53131',
  '65521',
  '1.2',
  '118100',
  '16014',
  '11045',
  '703',
  '12538',
  '39',
  '003'],
 ['Crawford County, Ohio',
  '17782',
  '2.32',
  '41821',
  '17782',
  '8446',
  '13790',
  '44971',
  '60193',
  '1.4',
  '88400',
  '6424',
  '5862',
  '640',
  '4885',
  '39',
  '033'],
 ['Guernsey County, Ohio',
  '16220',
  '2.38',
  '39111',
  '16220',
  '8722',
  '11678',
  '45917',
  '58828',
  '2.3',
  '114700',
  '6367',
  '5104',
  '669',
  '3907',
  '39',
  '059'],
 ['Mercer County, Ohio',
  '16234',
  '2.49',
  '40884',
  '16234',
  '9860',
  '12233',
  '62952',
  '76115',
  '1.6',
  '153800',
  '6546',
  '5935',
  '679',
  '3374',
  '39',
  '107'],
 ['Clark County, Ohio',
  '54696',
  '2.41',
  '134726',
  '54696',
  '31237',
  '34897',
  '50873',
  '65280',
  '1.1',
  '115500',
  '21772',
  '14171',
  '749',
  '17417',
  '39',
  '023'],
 ['Lorain County, Ohio',
  '120281',
  '2.48',
  '307670',
  '120281',
  '73894',
  '65829',
  '58427',
  '77113',
  '1.4',
  '150500',
  '55706',
  '30881',
  '774',
  '30587',
  '39',
  '093'],
 ['Montgomery County, Ohio',
  '224328',
  '2.29',
  '531670',
  '224328',
  '131847',
  '101192',
  '51542',
  '70103',
  '2.4',
  '119800',
  '85738',
  '49902',
  '793',
  '82208',
  '39',
  '113'],
 ['Warren County, Ohio',
  '82957',
  '2.67',
  '229132',
  '82957',
  '59892',
  '39740',
  '87125',
  '114340',
  '0.4',
  '222500',
  '47267',
  '16976',
  '1061',
  '17379',
  '39',
  '165'],
 ['Ashtabula County, Ohio',
  '37832',
  '2.49',
  '97830',
  '37832',
  '19828',
  '30576',
  '46700',
  '59932',
  '1.3',
  '112700',
  '14940',
  '11560',
  '696',
  '9686',
  '39',
  '007'],
 ['Union County, Ohio',
  '20212',
  '2.65',
  '56707',
  '20212',
  '14513',
  '12243',
  '86715',
  '104000',
  '1.2',
  '203800',
  '12008',
  '3791',
  '982',
  '4189',
  '39',
  '159'],
 ['Pike County, Ohio',
  '10959',
  '2.51',
  '28000',
  '10959',
  '6264',
  '7795',
  '42832',
  '62297',
  '1.7',
  '117100',
  '3516',
  '3527',
  '681',
  '3456',
  '39',
  '131'],
 ['Paulding County, Ohio',
  '7705',
  '2.43',
  '18809',
  '7705',
  '4061',
  '6216',
  '55330',
  '69620',
  '2.5',
  '97000',
  '3344',
  '2719',
  '704',
  '1474',
  '39',
  '125'],
 ['Hamilton County, Ohio',
  '341873',
  '2.33',
  '813589',
  '341873',
  '206075',
  '144418',
  '57212',
  '83247',
  '1.0',
  '155400',
  '134572',
  '62198',
  '810',
  '136199',
  '39',
  '061'],
 ['Franklin County, Ohio',
  '511447',
  '2.47',
  '1290360',
  '511447',
  '339468',
  '211911',
  '61305',
  '83201',
  '1.1',
  '175100',
  '196121',
  '75621',
  '974',
  '227809',
  '39',
  '049'],
 ['Marion County, Ohio',
  '24737',
  '2.41',
  '65299',
  '24737',
  '14239',
  '20601',
  '47498',
  '63207',
  '1.4',
  '100800',
  '9606',
  '6724',
  '731',
  '7684',
  '39',
  '101'],
 ['Tuscarawas County, Ohio',
  '36631',
  '2.49',
  '92335',
  '36631',
  '18898',
  '28618',
  '53243',
  '66469',
  '1.0',
  '132100',
  '14292',
  '11429',
  '772',
  '9776',
  '39',
  '157'],
 ['Wayne County, Ohio',
  '43824',
  '2.56',
  '116099',
  '43824',
  '27493',
  '29775',
  '58300',
  '72883',
  '1.1',
  '148900',
  '18488',
  '13266',
  '735',
  '10882',
  '39',
  '169'],
 ['Brown County, Ohio',
  '17829',
  '2.41',
  '43572',
  '17829',
  '8853',
  '13851',
  '54575',
  '65895',
  '0.7',
  '132400',
  '7787',
  '5077',
  '719',
  '4208',
  '39',
  '015'],
 ['Butler County, Ohio',
  '139113',
  '2.65',
  '380019',
  '139113',
  '104600',
  '80103',
  '66117',
  '84886',
  '1.1',
  '172900',
  '65210',
  '28796',
  '883',
  '40892',
  '39',
  '017'],
 ['Harrison County, Ohio',
  '6223',
  '2.40',
  '15211',
  '6223',
  '2768',
  '5254',
  '49689',
  '60067',
  '1.1',
  '92700',
  '2403',
  '2445',
  '607',
  '1045',
  '39',
  '067'],
 ['Knox County, Ohio',
  '23248',
  '2.49',
  '61481',
  '23248',
  '15909',
  '16081',
  '57749',
  '68356',
  '0.7',
  '155500',
  '10546',
  '6115',
  '737',
  '5823',
  '39',
  '083'],
 ['Licking County, Ohio',
  '64035',
  '2.65',
  '173750',
  '64035',
  '42894',
  '40297',
  '64589',
  '82929',
  '1.8',
  '170200',
  '31540',
  '14986',
  '852',
  '16202',
  '39',
  '089'],
 ['Richland County, Ohio',
  '48449',
  '2.35',
  '121100',
  '48449',
  '26115',
  '33313',
  '49547',
  '62847',
  '1.2',
  '110600',
  '18622',
  '13835',
  '682',
  '14873',
  '39',
  '139'],
 ['Vinton County, Ohio',
  '5140',
  '2.53',
  '13083',
  '5140',
  '2751',
  '3996',
  '45673',
  '54406',
  '0.9',
  '91500',
  '1872',
  '2010',
  '602',
  '1007',
  '39',
  '163'],
 ['Carroll County, Ohio',
  '11298',
  '2.38',
  '27332',
  '11298',
  '5269',
  '9767',
  '55267',
  '71054',
  '2.2',
  '126500',
  '4883',
  '3903',
  '706',
  '1905',
  '39',
  '019'],
 ['Hancock County, Ohio',
  '31937',
  '2.31',
  '75837',
  '31937',
  '18002',
  '18688',
  '58450',
  '77807',
  '1.3',
  '147600',
  '14015',
  '7893',
  '768',
  '9192',
  '39',
  '063'],
 ['Clermont County, Ohio',
  '78009',
  '2.59',
  '204275',
  '78009',
  '47081',
  '45549',
  '66968',
  '87902',
  '0.9',
  '170800',
  '39654',
  '17979',
  '849',
  '18666',
  '39',
  '025'],
 ['Fairfield County, Ohio',
  '56339',
  '2.69',
  '154457',
  '56339',
  '37809',
  '35512',
  '67609',
  '85202',
  '1.4',
  '185300',
  '28774',
  '12735',
  '867',
  '14058',
  '39',
  '045'],
 ['Defiance County, Ohio',
  '15297',
  '2.46',
  '38160',
  '15297',
  '9123',
  '10918',
  '59931',
  '73694',
  '1.7',
  '119900',
  '6923',
  '4736',
  '747',
  '3274',
  '39',
  '039'],
 ['Highland County, Ohio',
  '16772',
  '2.53',
  '43016',
  '16772',
  '9274',
  '13322',
  '44169',
  '58802',
  '1.2',
  '117400',
  '6971',
  '4365',
  '681',
  '4700',
  '39',
  '071'],
 ['Henry County, Ohio',
  '10992',
  '2.43',
  '27208',
  '10992',
  '6293',
  '8352',
  '59695',
  '70931',
  '1.5',
  '125200',
  '5076',
  '3407',
  '730',
  '2258',
  '39',
  '069'],
 ['Jefferson County, Ohio',
  '27428',
  '2.33',
  '66371',
  '27428',
  '14146',
  '21169',
  '46581',
  '62303',
  '2.2',
  '93000',
  '9355',
  '9352',
  '675',
  '7372',
  '39',
  '081'],
 ['Portage County, Ohio',
  '61817',
  '2.51',
  '162511',
  '61817',
  '44976',
  '38519',
  '57618',
  '75878',
  '1.0',
  '159200',
  '27273',
  '15504',
  '860',
  '17357',
  '39',
  '133'],
 ['Putnam County, Ohio',
  '13327',
  '2.52',
  '33911',
  '13327',
  '8297',
  '9324',
  '64822',
  '81432',
  '0.3',
  '155800',
  '6240',
  '4549',
  '701',
  '2218',
  '39',
  '137'],
 ['Belmont County, Ohio',
  '25919',
  '2.47',
  '68024',
  '25919',
  '13441',
  '21329',
  '50904',
  '68384',
  '1.6',
  '100500',
  '9387',
  '10143',
  '629',
  '4941',
  '39',
  '013'],
 ['Clinton County, Ohio',
  '16528',
  '2.46',
  '41957',
  '16528',
  '9797',
  '11032',
  '52815',
  '66857',
  '1.5',
  '128400',
  '6778',
  '3841',
  '755',
  '5329',
  '39',
  '027'],
 ['Fayette County, Ohio',
  '11773',
  '2.40',
  '28620',
  '11773',
  '6055',
  '9011',
  '47308',
  '63286',
  '0.6',
  '113500',
  '4621',
  '2952',
  '718',
  '3721',
  '39',
  '047'],
 ['Perry County, Ohio',
  '13500',
  '2.64',
  '36022',
  '13500',
  '8147',
  '11707',
  '50150',
  '60839',
  '2.0',
  '114100',
  '5854',
  '4024',
  '646',
  '3210',
  '39',
  '127'],
 ['Pickaway County, Ohio',
  '19710',
  '2.70',
  '57762',
  '19710',
  '12379',
  '17146',
  '63633',
  '77039',
  '1.9',
  '163300',
  '9426',
  '5199',
  '812',
  '4575',
  '39',
  '129'],
 ['Madison County, Ohio',
  '15013',
  '2.58',
  '44135',
  '15013',
  '9737',
  '13160',
  '68022',
  '84360',
  '0.9',
  '166500',
  '7162',
  '3505',
  '858',
  '3875',
  '39',
  '097'],
 ['Muskingum County, Ohio',
  '33878',
  '2.48',
  '86131',
  '33878',
  '19944',
  '24388',
  '47254',
  '61880',
  '1.5',
  '120200',
  '13662',
  '9432',
  '703',
  '9635',
  '39',
  '119'],
 ['Sandusky County, Ohio',
  '23574',
  '2.45',
  '59029',
  '23574',
  '13528',
  '17378',
  '54089',
  '66143',
  '0.7',
  '115400',
  '10011',
  '7074',
  '701',
  '5970',
  '39',
  '143'],
 ['Van Wert County, Ohio',
  '11544',
  '2.42',
  '28261',
  '11544',
  '6479',
  '8592',
  '54254',
  '66249',
  '2.3',
  '104900',
  '5121',
  '3711',
  '712',
  '2308',
  '39',
  '161'],
 ['Washington County, Ohio',
  '25197',
  '2.33',
  '60426',
  '25197',
  '12554',
  '17433',
  '50021',
  '67322',
  '0.8',
  '132400',
  '8949',
  '9420',
  '668',
  '5998',
  '39',
  '167'],
 ['Auglaize County, Ohio',
  '18888',
  '2.39',
  '45729',
  '18888',
  '10418',
  '13482',
  '64074',
  '76552',
  '1.0',
  '147300',
  '8661',
  '5559',
  '729',
  '4121',
  '39',
  '011'],
 ['Darke County, Ohio',
  '20861',
  '2.44',
  '51513',
  '20861',
  '11700',
  '16523',
  '55620',
  '68845',
  '1.9',
  '123300',
  '8737',
  '6411',
  '673',
  '5111',
  '39',
  '037'],
 ['Ottawa County, Ohio',
  '18051',
  '2.20',
  '40632',
  '18051',
  '7848',
  '10682',
  '59099',
  '77641',
  '1.9',
  '152000',
  '8073',
  '6105',
  '724',
  '3400',
  '39',
  '123'],
 ['Hardin County, Ohio',
  '11678',
  '2.49',
  '31425',
  '11678',
  '8751',
  '9208',
  '50506',
  '61739',
  '1.0',
  '105300',
  '4789',
  '3427',
  '666',
  '2940',
  '39',
  '065'],
 ['Jackson County, Ohio',
  '12780',
  '2.51',
  '32450',
  '12780',
  '7130',
  '9338',
  '47550',
  '58016',
  '3.4',
  '97400',
  '4371',
  '4397',
  '704',
  '3293',
  '39',
  '079'],
 ['Huron County, Ohio',
  '22935',
  '2.50',
  '58339',
  '22935',
  '13246',
  '18184',
  '52560',
  '65653',
  '1.2',
  '124600',
  '9947',
  '6243',
  '695',
  '6029',
  '39',
  '077'],
 ['Athens County, Ohio',
  '22557',
  '2.49',
  '65917',
  '22557',
  '26574',
  '12994',
  '40905',
  '59302',
  '1.7',
  '129600',
  '6655',
  '6241',
  '791',
  '8311',
  '39',
  '009'],
 ['Adams County, Ohio',
  '10673',
  '2.57',
  '27776',
  '10673',
  '5874',
  '8453',
  '39079',
  '56865',
  '3.5',
  '105300',
  '4021',
  '3446',
  '576',
  '2334',
  '39',
  '001'],
 ['Medina County, Ohio',
  '69007',
  '2.56',
  '177980',
  '69007',
  '41945',
  '38487',
  '76600',
  '95333',
  '0.9',
  '196300',
  '37701',
  '17179',
  '874',
  '13056',
  '39',
  '103'],
 ['Lucas County, Ohio',
  '179930',
  '2.34',
  '431102',
  '179930',
  '106609',
  '86830',
  '48736',
  '68678',
  '1.5',
  '116600',
  '67245',
  '39235',
  '745',
  '66968',
  '39',
  '095'],
 ['Noble County, Ohio',
  '5067',
  '2.38',
  '14416',
  '5067',
  '2658',
  '5300',
  '46897',
  '64273',
  '0.3',
  '100500',
  '1410',
  '2734',
  '653',
  '738',
  '39',
  '121'],
 ['Delaware County, Ohio',
  '69985',
  '2.84',
  '201135',
  '69985',
  '56720',
  '24084',
  '106908',
  '134937',
  '0.7',
  '308800',
  '43233',
  '13610',
  '1069',
  '12494',
  '39',
  '041'],
 ['Seneca County, Ohio',
  '21648',
  '2.41',
  '55351',
  '21648',
  '14255',
  '16836',
  '52500',
  '67625',
  '1.4',
  '106500',
  '8736',
  '6828',
  '696',
  '5422',
  '39',
  '147'],
 ['Stark County, Ohio',
  '153460',
  '2.37',
  '372404',
  '153460',
  '85222',
  '99295',
  '53860',
  '70478',
  '1.3',
  '134300',
  '65978',
  '37918',
  '741',
  '45887',
  '39',
  '151'],
 ['Coshocton County, Ohio',
  '14476',
  '2.50',
  '36585',
  '14476',
  '7717',
  '11993',
  '46606',
  '58516',
  '1.2',
  '99200',
  '5628',
  '5028',
  '615',
  '3252',
  '39',
  '031'],
 ['Geauga County, Ohio',
  '35298',
  '2.63',
  '93843',
  '35298',
  '20669',
  '16261',
  '82303',
  '114211',
  '1.0',
  '240900',
  '20163',
  '10139',
  '818',
  '4308',
  '39',
  '055'],
 ['Hocking County, Ohio',
  '11286',
  '2.46',
  '28390',
  '11286',
  '6208',
  '9102',
  '52363',
  '63701',
  '1.6',
  '132800',
  '4932',
  '3452',
  '619',
  '2496',
  '39',
  '073'],
 ['Lake County, Ohio',
  '96361',
  '2.35',
  '229954',
  '96361',
  '50855',
  '52666',
  '64466',
  '81155',
  '1.1',
  '156200',
  '44910',
  '26229',
  '897',
  '23608',
  '39',
  '085'],
 ['Ross County, Ohio',
  '28802',
  '2.47',
  '76948',
  '28802',
  '16281',
  '23422',
  '51092',
  '65448',
  '0.8',
  '123800',
  '11094',
  '9160',
  '741',
  '7367',
  '39',
  '141'],
 ['Cuyahoga County, Ohio',
  '540965',
  '2.25',
  '1247451',
  '540965',
  '296767',
  '242977',
  '50366',
  '74923',
  '1.8',
  '132800',
  '190518',
  '121517',
  '809',
  '208815',
  '39',
  '035'],
 ['Holmes County, Ohio',
  '12342',
  '3.48',
  '43901',
  '12342',
  '9007',
  '8443',
  '63753',
  '79857',
  '0.8',
  '208700',
  '5317',
  '3966',
  '643',
  '2296',
  '39',
  '075'],
 ['Miami County, Ohio',
  '41043',
  '2.54',
  '105371',
  '41043',
  '24608',
  '26735',
  '61041',
  '77607',
  '0.8',
  '151400',
  '19735',
  '9270',
  '767',
  '11361',
  '39',
  '109'],
 ['Monroe County, Ohio',
  '5745',
  '2.40',
  '13942',
  '5745',
  '2670',
  '5236',
  '45289',
  '61624',
  '2.1',
  '110000',
  '1563',
  '2906',
  '593',
  '882',
  '39',
  '111'],
 ['Trumbull County, Ohio',
  '85621',
  '2.30',
  '200367',
  '85621',
  '40106',
  '63859',
  '47280',
  '62475',
  '2.4',
  '102600',
  '31591',
  '28559',
  '677',
  '22865',
  '39',
  '155'],
 ['Wood County, Ohio',
  '50589',
  '2.44',
  '130150',
  '50589',
  '40311',
  '24781',
  '62390',
  '81232',
  '1.3',
  '163600',
  '21482',
  '11325',
  '800',
  '16856',
  '39',
  '173'],
 ['Ashland County, Ohio',
  '20417',
  '2.51',
  '53536',
  '20417',
  '13090',
  '14759',
  '52823',
  '66426',
  '1.3',
  '128400',
  '8829',
  '6170',
  '725',
  '4770',
  '39',
  '005']]

In [3]:
# add column names
column_names = census_data.pop(0)
census_df = pd.DataFrame(census_data, columns=column_names)

# remove unnecessary columns, and rename the remaining columns
select_census_df=census_df[census_variables_dict.keys()].copy()
select_census_df.rename(columns=census_variables_dict, inplace=True)
columnsplit = select_census_df['county_name'].str.split(" County", expand=True)
select_census_df = select_census_df.assign(county_name=columnsplit[0])
select_census_df

,county_name,total_households,average_household_size,total_population,computers_and_internet_use_total_households,population_3yr_and_over_enrolled_in_school,educational_attainment_hs,median_household_income,mean_household_income,homeowner_vacancy_rate,owner_median_price,household_w_mortgage_num,household_wo_mortgage_num,renter_median_price,renters_num
0,Meigs,9045,2.53,23078,9045,4818,6907,44899,60917,1.3,95000,2867,4111,622,1600
1,Champaign,15159,2.51,38845,15159,8627,12404,60112,69841,1.3,132800,6676,4381,696,3819
2,Greene,65604,2.40,166502,65604,47178,27461,68720,88951,1.1,173000,27685,15431,910,21152
3,Lawrence,23221,2.56,60184,23221,13197,18636,45118,59958,3.6,106500,8351,8285,733,5356
4,Morgan,6108,2.37,14640,6108,2635,4593,42341,53701,1.2,99900,1900,2721,637,1263
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,Miami,41043,2.54,105371,41043,24608,26735,61041,77607,0.8,151400,19735,9270,767,11361
84,Monroe,5745,2.40,13942,5745,2670,5236,45289,61624,2.1,110000,1563,2906,593,882
85,Trumbull,85621,2.30,200367,85621,40106,63859,47280,62475,2.4,102600,31591,28559,677,22865
86,Wood,50589,2.44,130150,50589,40311,24781,62390,81232,1.3,163600,21482,11325,800,16856
87,Ashland,20417,2.51,53536,20417,13090,14759,52823,66426,1.3,128400,8829,6170,725,4770

In [4]:
# validate that the county_name column can be the primary key in the sql database
county_list=set(select_census_df["county_name"].tolist())
print(len(county_list))

88

## greatschools
Ohio School districts with city and county name

In [5]:
# get tables from greatschool.org
school_url="https://www.greatschools.org/schools/districts/Ohio/OH/"
# use the first table for school district information
school_df=pd.read_html(school_url)[0]
pd.set_option('display.max_colwidth', None)

# drop any potential duplicates
school_df=school_df.drop_duplicates()
school_df

,District name,City,County name
0,A+ Arts Academy,Columbus,Franklin
1,A+ Children's Academy School District,Columbus,Franklin
2,Academy For Urban Scholars Youngstown School District,Youngstown,Mahoning
3,Academy for Urban Solutions,Columbus,Franklin
4,Academy Of Arts And Sciences,Lorain,Lorain
...,...,...,...
1024,Zanesville City School District,Zanesville,Muskingum
1025,Zanesville Community School,Zanesville,Muskingum
1026,Zenith Academy,Columbus,Franklin
1027,Zenith Academy East,Columbus,Franklin
1028,Zenith Academy West School District,Columbus,Franklin

In [6]:
# Validation on the number of counties with in the dataframe
county_list=set(school_df["County name"].tolist())
print(len(county_list))

88

In [7]:
# Validation on the number of districts with in the dataframe
# district name can't be the primary key for sql database
district_list=set(school_df["District name"].tolist())
print(len(district_list))

1000

In [8]:
# add id number to each date entry
school_df.reset_index(level=0, inplace=True)
#rename the columns to be sql friendly
school_output_df=school_df.rename(columns={"index":"id",
                                           "District name":"district_name",
                                           "City":"city",
                                           "County name":"county_name"})
# output school dataframe
school_output_df

,id,district_name,city,county_name
0,0,A+ Arts Academy,Columbus,Franklin
1,1,A+ Children's Academy School District,Columbus,Franklin
2,2,Academy For Urban Scholars Youngstown School District,Youngstown,Mahoning
3,3,Academy for Urban Solutions,Columbus,Franklin
4,4,Academy Of Arts And Sciences,Lorain,Lorain
...,...,...,...,...
1024,1024,Zanesville City School District,Zanesville,Muskingum
1025,1025,Zanesville Community School,Zanesville,Muskingum
1026,1026,Zenith Academy,Columbus,Franklin
1027,1027,Zenith Academy East,Columbus,Franklin
1028,1028,Zenith Academy West School District,Columbus,Franklin

In [9]:
# Create database connection
# change the owner name, password and port number based on your local situation
# engine = create_engine(f'postgresql://{*database_owner}:{*password}@localhost:{*port}/housing_db')
rds_connection_string = "postgres:postgres@localhost:5433/housing_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [10]:
# Confirm tables
engine.table_names()

['census', 'schools', 'income_tax', 'property_tax']

In [11]:
# Load dataframes into databases
select_census_df.to_sql(name = 'census', con = engine, if_exists = 'append', index = False)
school_output_df.to_sql(name = 'schools', con = engine, if_exists = 'append', index = False)

In [12]:
# Confirm data has been added by querying the censes table
pd.read_sql_query('select * from census', con=engine).head()

,county_name,total_households,average_household_size,total_population,computers_and_internet_use_total_households,population_3yr_and_over_enrolled_in_school,educational_attainment_hs,median_household_income,mean_household_income,homeowner_vacancy_rate,owner_median_price,household_w_mortgage_num,household_wo_mortgage_num,renter_median_price,renters_num
0,Meigs,9045.0,3.0,23078.0,9045.0,4818.0,6907.0,44899.0,60917.0,1.3,95000.0,2867.0,4111.0,622.0,1600.0
1,Champaign,15159.0,3.0,38845.0,15159.0,8627.0,12404.0,60112.0,69841.0,1.3,132800.0,6676.0,4381.0,696.0,3819.0
2,Greene,65604.0,2.0,166502.0,65604.0,47178.0,27461.0,68720.0,88951.0,1.1,173000.0,27685.0,15431.0,910.0,21152.0
3,Lawrence,23221.0,3.0,60184.0,23221.0,13197.0,18636.0,45118.0,59958.0,3.6,106500.0,8351.0,8285.0,733.0,5356.0
4,Morgan,6108.0,2.0,14640.0,6108.0,2635.0,4593.0,42341.0,53701.0,1.2,99900.0,1900.0,2721.0,637.0,1263.0

In [13]:
# Confirm data has been added by querying the schools table
pd.read_sql_query('select * from schools', con=engine).head()

,id,district_name,city,county_name
0,0,A+ Arts Academy,Columbus,Franklin
1,1,A+ Children's Academy School District,Columbus,Franklin
2,2,Academy For Urban Scholars Youngstown School District,Youngstown,Mahoning
3,3,Academy for Urban Solutions,Columbus,Franklin
4,4,Academy Of Arts And Sciences,Lorain,Lorain