In [1]:
 # Dependencies
import numpy as np
import requests
import tabula #read talbes in PDFs
import pandas as pd

### Census API on Social (DP02), Economic(DP03), and Housing(DP04) Characteristics of Ohio (state:39) Counties

In [45]:
#choose the variable dictionary of Census database
census_variables_dict={"NAME":"county_name",
                       "DP02_0001E":"total_households",
                       "DP02_0016E":"average_household_size",
                       "DP02_0087E":"total_population",
                       "DP02_0151E":"computers_and_internet_use_total_households",
                       "DP02_0053E":"population_3yr_and_over_enrolled_in_school",
                       "DP02_0062E":"educational_attainment_hs",
                       "DP03_0062E":"median_houshold_income",
                       "DP03_0063E":"mean_household_income",
                       "DP03_0120E":"educational_attainment_hs",
                       "DP04_0004E":"homeowner_vacancy_rate",
                       "DP04_0089E": "owner_median_price",
                       "DP04_0110E":"household_w_mortgage_num",
                       "DP04_0117E":"household_wo_mortgage_num",
                       "DP04_0134E": "renter_median_price",
                       "DP04_0136E":"renters_num"}
# query string to pass into the url
census_variables_value_string=",".join(census_variables_dict.keys())

#api url
census_url=f"https://api.census.gov/data/2019/acs/acs5/profile?get={census_variables_value_string}&for=county:*&in=state:39"

In [46]:
# get the json data from census
response = requests.get(census_url)
census_data = response.json()

# add column names
column_names = census_data.pop(0)
census_df = pd.DataFrame(census_data, columns=column_names)

# remove unnecessary columns, and rename the remaining columns
select_census_df=census_df[census_variables_dict.keys()].copy()
select_census_df.rename(columns=census_variables_dict, inplace=True)
columnsplit = select_census_df['county_name'].str.split(" County", expand=True)
select_census_df = select_census_df.assign(county_name=columnsplit[0])
select_census_df

,county_name,total_households,average_household_size,total_population,computers_and_internet_use_total_households,population_3yr_and_over_enrolled_in_school,educational_attainment_hs,median_houshold_income,mean_household_income,educational_attainment_hs,homeowner_vacancy_rate,owner_median_price,household_w_mortgage_num,household_wo_mortgage_num,renter_median_price,renters_num
0,Meigs,9045,2.53,23078,9045,4818,6907,44899,60917,-888888888,1.3,95000,2867,4111,622,1600
1,Champaign,15159,2.51,38845,15159,8627,12404,60112,69841,-888888888,1.3,132800,6676,4381,696,3819
2,Greene,65604,2.40,166502,65604,47178,27461,68720,88951,-888888888,1.1,173000,27685,15431,910,21152
3,Lawrence,23221,2.56,60184,23221,13197,18636,45118,59958,-888888888,3.6,106500,8351,8285,733,5356
4,Morgan,6108,2.37,14640,6108,2635,4593,42341,53701,-888888888,1.2,99900,1900,2721,637,1263
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,Miami,41043,2.54,105371,41043,24608,26735,61041,77607,-888888888,0.8,151400,19735,9270,767,11361
84,Monroe,5745,2.40,13942,5745,2670,5236,45289,61624,-888888888,2.1,110000,1563,2906,593,882
85,Trumbull,85621,2.30,200367,85621,40106,63859,47280,62475,-888888888,2.4,102600,31591,28559,677,22865
86,Wood,50589,2.44,130150,50589,40311,24781,62390,81232,-888888888,1.3,163600,21482,11325,800,16856
87,Ashland,20417,2.51,53536,20417,13090,14759,52823,66426,-888888888,1.3,128400,8829,6170,725,4770

## greatschools
Ohio School districts with city and county name

In [6]:
school_url="https://www.greatschools.org/schools/districts/Ohio/OH/"
school_df=pd.read_html(school_url)[0]
pd.set_option('display.max_colwidth', None)
school_df

,District name,City,County name
0,A+ Arts Academy,Columbus,Franklin
1,A+ Children's Academy School District,Columbus,Franklin
2,Academy For Urban Scholars Youngstown School District,Youngstown,Mahoning
3,Academy for Urban Solutions,Columbus,Franklin
4,Academy Of Arts And Sciences,Lorain,Lorain
...,...,...,...
1024,Zanesville City School District,Zanesville,Muskingum
1025,Zanesville Community School,Zanesville,Muskingum
1026,Zenith Academy,Columbus,Franklin
1027,Zenith Academy East,Columbus,Franklin
1028,Zenith Academy West School District,Columbus,Franklin

In [7]:
# Validation on the number of counties with in the dataframe
county_list=set(school_df["County name"].tolist())
print(len(county_list))

88

In [8]:
school_output_df=school_df.rename(columns={"District name":"district_name",
                                           "City":"city",
                                           "County name":"county_name"})
school_output_df

,district_name,city,county_name
0,A+ Arts Academy,Columbus,Franklin
1,A+ Children's Academy School District,Columbus,Franklin
2,Academy For Urban Scholars Youngstown School District,Youngstown,Mahoning
3,Academy for Urban Solutions,Columbus,Franklin
4,Academy Of Arts And Sciences,Lorain,Lorain
...,...,...,...
1024,Zanesville City School District,Zanesville,Muskingum
1025,Zanesville Community School,Zanesville,Muskingum
1026,Zenith Academy,Columbus,Franklin
1027,Zenith Academy East,Columbus,Franklin
1028,Zenith Academy West School District,Columbus,Franklin