In [1]:
 # Dependencies
import numpy as np
import tabula #read tables in PDFs
import pandas as pd
from sqlalchemy import create_engine

## Ohio Property Tax Information

In [2]:
# Real Property Tax: Tax Year 2019 Taxable Values, 
# Effective Tax Rates, Taxes Charged 1 and Property Tax Relief, by County (dollars in thousands)
tax_ohio_url="https://tax.ohio.gov/static/communications/publications/annual_reports/2020annualreport.pdf"
property_tax_a_num=184
property_tax_b_num=185
property_tax_a_table= tabula.read_pdf(tax_ohio_url,pages=property_tax_a_num)
property_tax_b_table= tabula.read_pdf(tax_ohio_url,pages=property_tax_b_num)

In [3]:
#change display option on column width
pd.set_option('display.max_colwidth', None)

# use the first dataframe from the list
property_tax_a_df=property_tax_a_table[0]
property_tax_a_df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Class 1,Class 2,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Homestead,Unnamed: 10,Net
0,NaN,Class 1 Taxable,Class 2 Taxable,NaN,Effective,Effective,NaN,NaN,NaN,Non-business,Owner-Occupied,NaN,Exemption,NaN,Effective
1,County,Value,Value,Total Taxable Value,Rate,Rate,NaN,Taxes Charged,NaN,credit,credit,NaN,Reduction,Net Taxes Charged,Tax Rate
2,Adams,"$ 355,123","$ 100,650","$ 4 55,773",43.11,45.20,$,"19,859",$,"1,373",$ 85,$,6 30,"$ 17,771",38.99
3,Allen,"$ 1,494,981","$ 434,513","$ 1,929,495",51.19,59.19,$,"102,245",$,"7,016","$ 1,149",$,"2,805","$ 91,275",47.31
4,Ashland,"$ 853,241","$ 167,477","$ 1,020,717",47.52,57.45,$,"50,172",$,"3,856",$ 622,$,"1,509","$ 44,185",43.29
5,Ashtabula,"$ 1,435,239","$ 316,619","$ 1,751,858",55.98,67.50,$,"101,717",$,"6,542",$ 909,$,"3,837","$ 90,429",51.62
6,Athens,"$ 772,410","$ 228,892","$ 1,001,302",55.81,57.87,$,"56,356",$,"3,654",$ 502,$,"1,497","$ 50,703",50.64
7,Auglaize,"$ 915,748","$ 162,034","$ 1,077,782",44.03,54.47,$,"49,145",$,"3,720",$ 544,$,"1,045","$ 43,836",40.67
8,Belmont,"$ 1,004,231","$ 689,019","$ 1,693,251",42.46,49.59,$,"76,807",$,"3,796",$ 557,$,"1,968","$ 70,486",41.63
9,Brown,"$ 746,193","$ 72,982","$ 8 19,175",39.30,44.75,$,"32,595",$,"2,688",$ 272,$,9 86,"$ 28,649",34.97
10,Butler,"$ 6,103,131","$ 1,748,074","$ 7,851,205",58.35,64.50,$,"468,875",$,"3 4,182","$ 6,962",$,"9,374","$ 418,356",53.29
11,Carroll,"$ 587,562","$ 165,321","$ 7 52,883",41.69,40.71,$,"31,225",$,"2,306",$ 277,$,6 91,"$ 27,950",37.12
12,Champaign,"$ 807,963","$ 105,955","$ 9 13,918",46.49,61.47,$,"44,077",$,"3,209",$ 454,$,"1,174","$ 39,239",42.94
13,Clark,"$ 1,959,400","$ 461,559","$ 2,420,959",60.22,69.70,$,"150,175",$,"1 0,449","$ 1,761",$,"5,271","$ 132,694",54.81
14,Clermont,"$ 3,749,444","$ 768,431","$ 4,517,875",58.44,68.25,$,"271,570",$,"2 1,270","$ 4,370",$,"5,179","$ 240,751",53.29
15,Clinton,"$ 764,080","$ 164,839","$ 9 28,919",43.54,50.42,$,"41,579",$,"2,984",$ 409,$,9 32,"$ 37,254",40.10
16,Columbiana,"$ 1,502,299","$ 285,070","$ 1,787,368",43.31,48.53,$,"78,898",$,"6,199",$ 964,$,"2,873","$ 68,862",38.53
17,Coshocton,"$ 568,592","$ 125,700","$ 6 94,292",46.20,55.57,$,"33,252",$,"2,232",$ 280,$,"1,031","$ 29,709",42.79
18,Crawford,"$ 590,433","$ 96,248","$ 6 86,681",53.01,65.41,$,"37,594",$,"2,836",$ 324,$,"1,645","$ 32,789",47.75
19,Cuyahoga,"$ 20,793,386","$ 8,327,676","$ 29,121,062",85.83,93.74,$,"2,565,433",$,"153,766","$ 30,563",$,"55,792","$ 2,325,313",79.85
20,Darke,"$ 1,066,391","$ 158,430","$ 1,224,821",41.71,49.82,$,"52,375",$,"4,141",$ 528,$,"1,463","$ 46,243",37.75
21,Defiance,"$ 699,987","$ 129,143","$ 8 29,130",46.40,55.62,$,"39,665",$,"2,902",$ 425,$,"1,175","$ 35,164",42.41
22,Delaware,"$ 6,993,838","$ 894,984","$ 7,888,822",69.50,76.05,$,"554,150",$,"4 3,454","$ 9,092",$,"4,704","$ 496,901",62.99
23,Erie,"$ 1,606,697","$ 477,228","$ 2,083,925",53.55,68.02,$,"118,493",$,"7,326","$ 1,160",$,"2,812","$ 107,195",51.44
24,Fairfield,"$ 3,549,030","$ 532,714","$ 4,081,745",52.08,58.88,$,"216,194",$,"1 6,143","$ 2,979",$,"3,382","$ 193,691",47.45
25,Fayette,"$ 554,229","$ 130,737","$ 6 84,967",47.77,50.22,$,"33,039",$,"2,319",$ 255,$,7 96,"$ 29,669",43.31
26,Franklin,"$ 20,748,350","$ 8,873,779","$ 29,622,129",75.72,81.32,$,"2,292,817",$,"149,269","$ 31,296",$,"30,609","$ 2,081,643",70.27
27,Fulton,"$ 843,201","$ 139,850","$ 9 83,050",54.94,70.88,$,"56,237",$,"3,984",$ 540,$,"1,285","$ 50,428",51.30
28,Gallia,"$ 412,984","$ 129,210","$ 5 42,194",40.85,41.47,$,"22,227",$,"1,645",$ 162,$,7 93,"$ 19,627",36.20
29,Geauga,"$ 2,772,759","$ 354,945","$ 3,127,704",66.51,74.39,$,"210,824",$,"1 5,809","$ 2,943",$,"3,713","$ 188,359",60.22
30,Greene,"$ 3,267,814","$ 808,051","$ 4,075,865",73.41,79.54,$,"304,164",$,"1 9,754","$ 2,962",$,"6,583","$ 274,866",67.44
31,Guernsey,"$ 614,299","$ 259,415","$ 8 73,714",45.97,51.62,$,"41,632",$,"2,468",$ 284,$,"1,098","$ 37,782",43.24
32,Hamilton,"$ 13,741,863","$ 4,789,711","$ 18,531,574",74.35,84.03,$,"1,424,198",$,"9 2,327","$ 18,174",$,"25,120","$ 1,288,577",69.53
33,Hancock,"$ 1,574,268","$ 341,028","$ 1,915,296",42.41,56.25,$,"85,954",$,"6,031","$ 1,082",$,"1,492","$ 77,348",40.38
34,Hardin,"$ 548,525","$ 67,320","$ 6 15,845",45.03,51.57,$,"28,173",$,"2,293",$ 227,$,7 80,"$ 24,873",40.39
35,Harrison,"$ 254,651","$ 178,879","$ 4 33,530",44.88,60.34,$,"22,222",$,"1,006",$ 98,$,5 54,"$ 20,563",47.43
36,Henry,"$ 643,944","$ 74,823","$ 7 18,767",52.78,73.02,$,"39,450",$,"2,825",$ 307,$,9 12,"$ 35,406",49.26
37,Highland,"$ 698,536","$ 83,578","$ 7 82,114",39.57,40.87,$,"31,057",$,"2,649",$ 292,$,9 77,"$ 27,139",37.21
38,Hocking,"$ 579,574","$ 51,945","$ 6 31,519",46.98,51.07,$,"29,883",$,"2,490",$ 330,$,8 23,"$ 26,240",41.55
39,Holmes,"$ 919,759","$ 205,234","$ 1,124,992",41.00,44.47,$,"46,839",$,"3,523",$ 423,$,5 68,"$ 42,324",37.62
40,Huron,"$ 965,052","$ 180,422","$ 1,145,474",45.31,52.73,$,"53,244",$,"3,683",$ 601,$,"1,476","$ 47,485",41.45
41,Jackson,"$ 413,639","$ 89,335","$ 5 02,974",43.47,46.08,$,"22,099",$,"1,529",$ 166,$,8 26,"$ 19,577",38.92
42,Jefferson,"$ 793,178","$ 381,611","$ 1,174,788",45.05,54.22,$,"56,425",$,"2,943",$ 425,$,"2,143","$ 50,913",43.34
43,Knox,"$ 1,194,839","$ 129,839","$ 1,324,678",51.21,57.87,$,"68,701",$,"5,100",$ 707,$,"1,643","$ 61,251",46.24
44,Lake,"$ 4,794,850","$ 1,203,900","$ 5,998,750",68.76,77.47,$,"422,982",$,"28,377","$ 5,715",$,"10,086","$ 378,803",63.15
45,Lawrence,"$ 835,722","$ 154,516","$ 9 90,239",34.86,36.22,$,"34,726",$,"2,663",$ 386,$,"1,555","$ 30,122",30.42
46,Licking,"$ 3,494,770","$ 783,337","$ 4,278,107",57.65,59.44,$,"248,035",$,"1 7,049","$ 3,149",$,"5,225","$ 222,612",52.04

In [4]:
# remove dollar sign
property_tax_a_df=property_tax_a_df.replace('\$','',regex=True)

# replace nan value in the datafraame
property_tax_a_df=property_tax_a_df.replace(np.nan, ' ', regex=True)

# reassign the column names
property_tax_a_df.columns = property_tax_a_df.columns+" "+property_tax_a_df.iloc[0]+" "+property_tax_a_df.iloc[1]

# drop the first two rows
property_tax_a_df=property_tax_a_df.drop([0,1])

# rename the columns
proterty_a_dict={"Unnamed: 0   County":"county_name",
                "Unnamed: 1 Class 1 Taxable Value":"class_1_taxable_value",
                "Unnamed: 2 Class 2 Taxable Value":"class_2_taxable_value",
                 "Unnamed: 3   Total Taxable Value":"total_taxable_value",
                 "Class 1 Effective Rate":"class_1_effective_rate",
                 "Class 2 Effective Rate":"class_2_effective_rate",
                 "Unnamed: 5   Taxes Charged":"taxes_charged",
                 "Unnamed: 7 Non-business credit":"non_business_credit",
                 "Unnamed: 8 Owner-Occupied credit":"owner_occupied_credit",
                 "Homestead Exemption Reduction":"exemption_reduction",
                 "Unnamed: 10   Net Taxes Charged":"net_taxes_charged",
                 "Net Effective Tax Rate":"net_effective_tax_rate"
                }
property_tax_a_df.rename(columns=proterty_a_dict, inplace=True)

# get the columns needed for later concat
property_tax_a_df=property_tax_a_df[proterty_a_dict.values()]
property_tax_a_df.head()

,county_name,class_1_taxable_value,class_2_taxable_value,total_taxable_value,class_1_effective_rate,class_2_effective_rate,taxes_charged,non_business_credit,owner_occupied_credit,exemption_reduction,net_taxes_charged,net_effective_tax_rate
2,Adams,"355,123","100,650","4 55,773",43.11,45.20,"19,859","1,373",85,6 30,"17,771",38.99
3,Allen,"1,494,981","434,513","1,929,495",51.19,59.19,"102,245","7,016","1,149","2,805","91,275",47.31
4,Ashland,"853,241","167,477","1,020,717",47.52,57.45,"50,172","3,856",622,"1,509","44,185",43.29
5,Ashtabula,"1,435,239","316,619","1,751,858",55.98,67.50,"101,717","6,542",909,"3,837","90,429",51.62
6,Athens,"772,410","228,892","1,001,302",55.81,57.87,"56,356","3,654",502,"1,497","50,703",50.64

In [5]:
#change display option on column width
pd.set_option('display.max_colwidth', None)
property_tax_b_df=property_tax_b_table[0]
property_tax_b_df

,Logan,$,Unnamed: 0,"1,088,303",$.1,"221,461",$.2,"1,309,764",46.65,51.74,...,$.5,Unnamed: 1,4 89,Unnamed: 2,$.6,Unnamed: 3,"1,132",$.7,"56,303",42.99
0,Lorain,$,NaN,"5,849,903",$,"1,293,943",$,"7,143,846",62.58,64.69,...,$,NaN,"6,360",NaN,$,NaN,"10,970",$,"399,172",55.88
1,Lucas,$,NaN,"5,527,264",$,"1,983,451",$,"7,510,715",78.87,94.04,...,$,NaN,"7,649",NaN,$,NaN,"17,116",$,"559,642",74.51
2,Madison,$,NaN,"983,346",$,"138,627",$,"1,121,972",44.79,55.49,...,$,NaN,5 61,NaN,$,NaN,901,$,"46,506",41.45
3,Mahoning,$,NaN,"2,992,463",$,"944,980",$,"3,937,443",66.94,74.97,...,$,NaN,"3,405",NaN,$,NaN,"10,712",$,"239,653",60.87
4,Marion,$,NaN,"928,112",$,"190,904",$,"1,119,016",46.54,54.31,...,$,NaN,5 94,NaN,$,NaN,"1,710",$,"47,473",42.42
5,Medina,$,NaN,"4,747,211",$,"908,072",$,"5,655,283",54.27,57.42,...,$,NaN,"4,766",NaN,$,NaN,"5,565",$,"276,147",48.83
6,Meigs,$,NaN,"296,401",$,"47,458",$,"343,859",41.60,50.81,...,$,NaN,1 27,NaN,$,NaN,667,$,"12,889",37.48
7,Mercer,$,NaN,"989,317",$,"104,269",$,"1,093,586",44.48,50.82,...,$,NaN,5 08,NaN,$,NaN,887,$,"43,790",40.04
8,Miami,$,NaN,"2,058,404",$,"426,580",$,"2,484,984",46.70,56.83,...,$,NaN,"1,637",NaN,$,NaN,"2,970",$,"106,925",43.03
9,Monroe,$,NaN,"293,602",$,"272,549",$,"566,151",32.78,49.28,...,$,NaN,76,NaN,$,NaN,288,$,"21,797",38.50
10,Montgomery,$,NaN,"7,078,563",$,"2,125,713",$,"9,204,275",90.58,100.78,...,$,NaN,"10,861",NaN,$,NaN,"28,288",$,"761,730",82.76
11,Morgan,$,NaN,"241,541",$,"18,623",$,"260,164",37.47,40.71,...,$,NaN,78,NaN,$,NaN,407,$,"8,525",32.77
12,Morrow,$,NaN,"726,751",$,"58,274",$,"785,025",47.66,53.91,...,$,NaN,3 41,NaN,$,NaN,921,$,"33,689",42.91
13,Muskingum,$,NaN,"1,316,385",$,"385,797",$,"1,702,182",41.80,45.78,...,$,NaN,7 68,NaN,$,NaN,"2,076",$,"64,632",37.97
14,Noble,$,NaN,"238,062",$,"89,067",$,"327,129",35.79,41.43,...,$,NaN,74,NaN,$,NaN,266,$,"11,043",33.76
15,Ottawa,$,NaN,"1,607,521",$,"256,621",$,"1,864,142",42.58,47.18,...,$,NaN,5 42,NaN,$,NaN,"1,474",$,"72,508",38.90
16,Paulding,$,NaN,"379,314",$,"36,627",$,"415,940",44.95,52.39,...,$,NaN,1 64,NaN,$,NaN,619,$,"16,645",40.02
17,Perry,$,NaN,"533,472",$,"61,396",$,"594,868",46.59,49.64,...,$,NaN,3 40,NaN,$,NaN,951,$,"24,482",41.15
18,Pickaway,$,NaN,"1,121,688",$,"150,813",$,"1,272,502",45.73,57.18,...,$,NaN,6 99,NaN,$,NaN,"1,298",$,"53,138",41.76
19,Pike,$,NaN,"375,948",$,"42,538",$,"418,486",39.70,54.01,...,$,NaN,1 91,NaN,$,NaN,775,$,"14,852",35.49
20,Portage,$,NaN,"2,958,911",$,"753,798",$,"3,712,709",58.50,67.09,...,$,NaN,"2,767",NaN,$,NaN,"4,787",$,"201,000",54.14
21,Preble,$,NaN,"788,055",$,"88,231",$,"876,286",44.19,49.54,...,$,NaN,4 23,NaN,$,NaN,"1,252",$,"34,525",39.40
22,Putnam,$,NaN,"815,361",$,"71,152",$,"886,513",40.69,45.11,...,$,NaN,4 31,NaN,$,NaN,735,$,"32,377",36.52
23,Richland,$,NaN,"1,543,444",$,"335,310",$,"1,878,755",64.56,81.28,...,$,NaN,"1,451",NaN,$,NaN,"4,983",$,"111,975",59.60
24,Ross,$,NaN,"1,126,468",$,"195,696",$,"1,322,163",44.92,56.25,...,$,NaN,6 71,NaN,$,NaN,"1,941",$,"54,782",41.43
25,Sandusky,$,NaN,"993,845",$,"219,567",$,"1,213,412",48.95,54.50,...,$,NaN,6 55,NaN,$,NaN,"1,736",$,"53,927",44.44
26,Scioto,$,NaN,"850,466",$,"179,907",$,"1,030,373",47.75,53.28,...,$,NaN,5 63,NaN,$,NaN,"2,272",$,"44,074",42.78
27,Seneca,$,NaN,"921,906",$,"142,759",$,"1,064,665",46.97,63.26,...,$,NaN,5 09,NaN,$,NaN,"1,575",$,"46,494",43.67
28,Shelby,$,NaN,"932,545",$,"203,996",$,"1,136,541",44.29,52.77,...,$,NaN,5 65,NaN,$,NaN,"1,118",$,"46,621",41.02
29,Stark,$,NaN,"6,119,352",$,"1,694,072",$,"7,813,424",55.78,60.65,...,$,NaN,"5,771",NaN,$,NaN,"13,154",$,"394,463",50.49
30,Summit,$,NaN,"9,476,658",$,"2,841,020",$,"12,317,679",71.05,78.14,...,$,NaN,"12,291",NaN,$,NaN,"20,902",$,"801,247",65.05
31,Trumbull,$,NaN,"2,512,187",$,"639,937",$,"3,152,124",65.63,70.96,...,$,NaN,"2,361",NaN,$,NaN,"9,598",$,"183,049",58.07
32,Tuscarawas,$,NaN,"1,621,605",$,"351,117",$,"1,972,722",46.61,54.26,...,$,NaN,"1,047",NaN,$,NaN,"2,465",$,"8 4,672",42.92
33,Union,$,NaN,"1,654,826",$,"230,744",$,"1,885,570",57.80,76.57,...,$,NaN,"1,697",NaN,$,NaN,"1,100",$,"101,104",53.62
34,Van Wert,$,NaN,"587,096",$,"66,496",$,"653,592",40.32,61.11,...,$,NaN,2 67,NaN,$,NaN,741,$,"2 4,339",37.24
35,Vinton,$,NaN,"173,109",$,"13,519",$,"186,628",43.67,49.32,...,$,NaN,64,NaN,$,NaN,435,$,"7,156",38.35
36,Warren,$,NaN,"6,181,182",$,"1,027,121",$,"7,208,303",56.10,52.29,...,$,NaN,"6,588",NaN,$,NaN,"5,297",$,"356,111",49.40
37,Washington,$,NaN,"1,010,659",$,"253,105",$,"1,263,764",41.54,48.08,...,$,NaN,5 61,NaN,$,NaN,"1,689",$,"4 8,144",38.10
38,Wayne,$,NaN,"1,955,533",$,"457,980",$,"2,413,513",51.16,68.34,...,$,NaN,"1,466",NaN,$,NaN,"3,041",$,"117,790",48.80
39,Williams,$,NaN,"633,158",$,"131,285",$,"764,443",51.62,61.69,...,$,NaN,4 10,NaN,$,NaN,"1,222",$,"3 6,250",47.42
40,Wood,$,NaN,"2,429,647",$,"727,720",$,"3,157,368",62.22,75.43,...,$,NaN,"2,057",NaN,$,NaN,"3,630",$,"187,844",59.49
41,Wyandot,$,NaN,"468,914",$,"65,233",$,"5 34,147",38.01,40.13,...,$,NaN,1 92,NaN,$,NaN,5 22,$,"1 8,193",34.06
42,Statewide,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,3Total/Average,$,2.0,"04,714,699",$,"56,472,552",$,"261,187,251",64.01,74.97,...,$,2.0,"18,750",NaN,$,3.0,"85,018",$,"15,562,735",59.71

In [5]:
# replace nan value to empty
property_tax_b_df=property_tax_b_df.replace(np.nan, '', regex=True)

# append the column names into the first row in the dataframe
tax_column_df=pd.DataFrame([property_tax_b_df.columns],columns=np.arange(1,25,1))
property_tax_b_df.columns=np.arange(1,25,1)
property_tax_b_df=tax_column_df.append(property_tax_b_df, ignore_index=True)

# select the columns and rename them as above
property_tax_b_df=property_tax_b_df[[1,4,6,8,9,10,12,14,17,21,23,24]]
property_tax_b_df.columns=proterty_a_dict.values()
# drop the unwanted rows
property_tax_b_df=property_tax_b_df.drop([43,44])
property_tax_b_df.head()

,county_name,class_1_taxable_value,class_2_taxable_value,total_taxable_value,class_1_effective_rate,class_2_effective_rate,taxes_charged,non_business_credit,owner_occupied_credit,exemption_reduction,net_taxes_charged,net_effective_tax_rate
0,Logan,"1,088,303","221,461","1,309,764",46.65,51.74,"62,225","4,301",4 89,"1,132","56,303",42.99
1,Lorain,"5,849,903","1,293,943","7,143,846",62.58,64.69,"449,791","33,288","6,360","10,970","399,172",55.88
2,Lucas,"5,527,264","1,983,451","7,510,715",78.87,94.04,"622,481","38,074","7,649","17,116","559,642",74.51
3,Madison,"983,346","138,627","1,121,972",44.79,55.49,"51,740","3,772",5 61,901,"46,506",41.45
4,Mahoning,"2,992,463","944,980","3,937,443",66.94,74.97,"271,147","17,378","3,405","10,712","239,653",60.87

In [6]:
# concat two tables into one
property_tax_df=pd.concat([property_tax_a_df,property_tax_b_df]).reset_index(drop=True)

# remove comma in the context
property_tax_df=property_tax_df.replace('\,','',regex=True)

# remove space inbetween numbers
property_tax_df[['class_1_taxable_value', 'class_2_taxable_value','total_taxable_value', 'class_1_effective_rate',
                 'class_2_effective_rate', 'taxes_charged', 'non_business_credit','owner_occupied_credit', 
                 'exemption_reduction', 'net_taxes_charged',
                 'net_effective_tax_rate']]=property_tax_df[['class_1_taxable_value', 'class_2_taxable_value',
                                                             'total_taxable_value', 'class_1_effective_rate',
                                                             'class_2_effective_rate', 'taxes_charged',
                                                             'non_business_credit','owner_occupied_credit',
                                                             'exemption_reduction', 'net_taxes_charged',
                                                             'net_effective_tax_rate']].replace("\ ","",regex=True)

# change value to numeric datatype
property_tax_df[['class_1_taxable_value', 'class_2_taxable_value','total_taxable_value', 'class_1_effective_rate',
                 'class_2_effective_rate', 'taxes_charged', 'non_business_credit','owner_occupied_credit', 
                 'exemption_reduction', 'net_taxes_charged',
                 'net_effective_tax_rate']]=property_tax_df[['class_1_taxable_value', 'class_2_taxable_value',
                                                             'total_taxable_value', 'class_1_effective_rate',
                                                             'class_2_effective_rate', 'taxes_charged',
                                                             'non_business_credit','owner_occupied_credit',
                                                             'exemption_reduction', 'net_taxes_charged',
                                                             'net_effective_tax_rate']].apply(pd.to_numeric)
#output the final dataframe to be loaded into SQL Database
property_tax_df

,county_name,class_1_taxable_value,class_2_taxable_value,total_taxable_value,class_1_effective_rate,class_2_effective_rate,taxes_charged,non_business_credit,owner_occupied_credit,exemption_reduction,net_taxes_charged,net_effective_tax_rate
0,Adams,355123,100650,455773,43.11,45.20,19859,1373,85,630,17771,38.99
1,Allen,1494981,434513,1929495,51.19,59.19,102245,7016,1149,2805,91275,47.31
2,Ashland,853241,167477,1020717,47.52,57.45,50172,3856,622,1509,44185,43.29
3,Ashtabula,1435239,316619,1751858,55.98,67.50,101717,6542,909,3837,90429,51.62
4,Athens,772410,228892,1001302,55.81,57.87,56356,3654,502,1497,50703,50.64
...,...,...,...,...,...,...,...,...,...,...,...,...
83,Washington,1010659,253105,1263764,41.54,48.08,54154,3759,561,1689,48144,38.10
84,Wayne,1955533,457980,2413513,51.16,68.34,131348,9052,1466,3041,117790,48.80
85,Williams,633158,131285,764443,51.62,61.69,40784,2901,410,1222,36250,47.42
86,Wood,2429647,727720,3157368,62.22,75.43,206067,12536,2057,3630,187844,59.49
87,Wyandot,468914,65233,534147,38.01,40.13,20441,1535,192,522,18193,34.06

In [7]:
# validate datatypes
property_tax_df.dtypes

county_name                object
class_1_taxable_value       int64
class_2_taxable_value       int64
total_taxable_value         int64
class_1_effective_rate    float64
class_2_effective_rate    float64
taxes_charged               int64
non_business_credit         int64
owner_occupied_credit       int64
exemption_reduction         int64
net_taxes_charged           int64
net_effective_tax_rate    float64
dtype: object

In [10]:
# Create database connection
# change the owner name, password and port number based on your local situation

rds_connection_string = "postgres:postgres@localhost:5433/housing_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [11]:
# Confirm tables
engine.table_names()

['census', 'schools', 'income_tax', 'property_tax']

In [12]:
# Load dataframes into databases
property_tax_df.to_sql(name = 'property_tax', con = engine, if_exists = 'append', index = False)

In [13]:
# Confirm data has been added by querying the income_tax table
pd.read_sql_query('select * from property_tax', con=engine).head()

,county_name,class_1_taxable_value,class_2_taxable_value,total_taxable_value,class_1_effective_rate,class_2_effective_rate,taxes_charged,non_business_credit,owner_occupied_credit,exemption_reduction,net_taxes_charged,net_effective_tax_rate
0,Adams,355123.0,100650.0,455773.0,43.11,45.20,19859.0,1373.0,85.0,630.0,17771.0,38.99
1,Allen,1494981.0,434513.0,1929495.0,51.19,59.19,102245.0,7016.0,1149.0,2805.0,91275.0,47.31
2,Ashland,853241.0,167477.0,1020717.0,47.52,57.45,50172.0,3856.0,622.0,1509.0,44185.0,43.29
3,Ashtabula,1435239.0,316619.0,1751858.0,55.98,67.50,101717.0,6542.0,909.0,3837.0,90429.0,51.62
4,Athens,772410.0,228892.0,1001302.0,55.81,57.87,56356.0,3654.0,502.0,1497.0,50703.0,50.64